.biography {
  padding: 120px 0;

  &__part {
    display: flex;
    margin-bottom: 70px;
  } 

  &__image {
    width: 45%;
    height: 596px;
    margin-right: 30px;
    position: relative;
    margin-top: 55px;
    margin-left: 70px;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/biography/frame.png');
      width: 500px;
      height: 596px;
      top: -55px;
      left: -70px;
      z-index: -1;
    }

    .biography__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: 40%;
  }

  &__title {
    font-size: 48px;
    line-height: 1.125;
    color: #0E0E0E;
    margin-bottom: 10px;
  }

  &__descr {
    color: $black21;
    font-style: italic;
    font-size: 18px;
    @extend %raleway;
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
    color: $black21;
    @extend %raleway;
    font-weight: bold;
  } 

  &__text {
    color: $grey666;
    @extend %raleway;
    margin-bottom: 35px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    padding: 17px 35px;
    color: #fff;
    background-color: $pink;
    border-radius: 5px;
    @extend %PTMono;
    font-size: 16px;
    line-height: 1.125;
  } 
}