.news {
  padding: 120px 0;

  &__list {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
  }

  &__item {
    padding: 15px;
    flex: 0 1 33.333%;
    display: flex;
  }
}

.article {
  display: flex;
  flex-direction: column;
  width: 370px;
  background-color: #eee;
  transition: box-shadow 0.3s;

  &:hover .article__image::before{
    background-color: rgba(#212121, 0);
  }

  &:hover {
    box-shadow: 10px 10px 25px 2px rgba(0, 0, 0, 0.15);
  }

  &__image {
    display: block;
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    &:hover .article__img {
      transform: scale(1.15);
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(#212121, 0.5);
      top: 0;
      left: 0;
      transition: background-color 0.3s;
    } 

    .article__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }
  }

  &__content {
    padding: 20px 21px 28px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.1;
    color: $black21;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
    color: $grey666;
    margin-bottom: 10px;
    flex: 1 1 auto;
  }

  &__more {
    margin-top: auto;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    @extend %PTMono;
    color:#100530;
    padding-left: 53px;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s;

    &::before {
      position: absolute;
      content: '';
      width: 138px;
      height: 1px;
      background-color: #100530;
      left: 30px;
      bottom: 0;
      transition: background-color 0.3s;
    }

    &:hover {
      color:$pink;
    }

    &:hover::before {
      background-color: $pink;
    }

    
  }

}