.star {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 170px 0;
  text-align: center;

  @include maxw($md) {
    padding: 80px 0;
  }

  &__title {
    text-transform: uppercase;
    color: $pink;
    font-size: 48px;
    line-height: 1.125;
    margin-bottom: 30px;

    @include maxw($md) {
     font-size: 40px;
    }

    @include maxw($xs) {
      font-size: 35px;
    }
  }

  &__text {
    font-size: 24px;
    @extend %raleway;
    max-width: 1138px;

    @include maxw($md) {
      font-size: 18px;
      max-width: 100%;
    }
  }

  &__cite {
    display: block;
    padding-top: 58px;
    @extend %PTMono;
    font-size: 14px;
    line-height: 1.4;
    font-style: normal;
    text-transform: uppercase;
  }
}