@font-face {
  font-family: 'PTMono-Regular';
  src: 
    local('PTMono'),
    url('../fonts/PTMono-Regular.woff2') format('woff2'),
    url('../fonts/PTMono-Regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Raleway-Regular';
  src: 
    local('Raleway'),
    url('../fonts/PTMono-Regular.woff2') format('woff2'),
    url('../fonts/PTMono-Regular.woff') format('woff');
    
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}