//main sceren sizes

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xsm: 320px;       


//fonts

%PTMono { 
  font-family: 'PT Mono', sans-serif;
  font-weight: 400;
}

%raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
 
//colors

$grey666: #666666;
$black111: #111111;
$black21: #212121;
$pink: #D71362;



// fansybox error

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}