.reputation-disc {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 165px 0;

  @include maxw($lg) {
    padding: 100px 0;
  }

  @include maxw($xs) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;

    @include maxw($lg) {
      display: block;
    }
  } 

  .reputation__image {
    display: inline-block;
    min-width: 570px;
    height: 370px;
    margin-bottom: 0;
    margin-right: 30px;

    @include maxw($lg) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include maxw($md) {
      min-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}