.footer {
  
  &__top {
    padding: 70px 0 120px;
    text-align: center;
    background-image:url('../images/footer/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }  

  &__title {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
  }

  &__bottom {
    padding: 35px 0;
    text-align: center;
    background-color: $black111;
    color: $grey666;
  }
}

.main--discography ~ .footer .footer__top,
.main--tours ~ .footer .footer__top,
.main--album ~ .footer .footer__top{
  background-image: url('../images/footer/footer-bg1.jpg');
  position: relative; 

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    background-color:rgba($black111, 0.6);
    z-index: 0;
  }
} 

.main--band ~ .footer .footer__top,
.main--media  ~ .footer .footer__top {
  background-image: url('../images/footer/footer-bg3.jpg');
  position: relative; 

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba($black111, 0.8);
    z-index: 0;
  } 
}

.main--news ~ .footer .footer__top,
.main--article ~ .footer .footer__top {
  background-image: url('../images/footer/footer-bg2.jpg');
  position: relative; 

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba($black111, 0.8);
    z-index: 0;
  } 
} 

.main--contact ~ .footer .footer__top {
  background-image: url('../images/footer/footer-bg4.jpg');
  position: relative; 

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba($black111, 0.4);
    z-index: 0;
  } 
}

.main--page ~ .footer .footer__bottom {
  background-color: #0B051C;
}

