.reputation-disc {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 165px 0;

  &__inner {
    display: flex;
  } 

  .reputation__image {
    min-width: 570px;
    height: 370px;
    margin-bottom: 0;
  }

  .reputation__image {
    margin-right: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}