.contacts {

  &__inner {
    display: flex;

    @include maxw($lg) {
     display: block;
    }
  } 

  &__user-form {
    padding: 120px 0;
    max-width: 770px;
    width: 100%;
    margin-right: 30px;

    @include maxw($lg) {
      max-width: 100%;
      padding: 80px 0 40px;
    } 

    @include maxw($md) {
      padding: 40px 0;
    }
  }

  &__title {
    text-transform: initial;
    text-align: left;
    margin-bottom: 36px;

    @include maxw($md) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    &::before {
      display: none;
    }

    span {
      display: block;
      color: $grey666;
      font-size: 22px;
      line-height: 1.4;
      font-weight: 400;

      @include maxw($md) {
        font-size: 18px;
      }
    }
  }

  &__info {
    flex:0 1 370px;
    background-color: $black21;
    color: #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    min-width: 320px;

    @include maxw($lg) {
      margin-bottom: 20px;
    }

    @include maxw($sm) {
      padding: 20px 15px;
    }
  }

  &__info-title {
    color: #fff;
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  &__info-item {
    padding-left: 45px;
    position: relative;
    color: $grey666;
    font-size: 14px;
    line-height: 1.4;

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      width: 35px;
      height: 35px;
      background-repeat:no-repeat;
      background-size: contain;

      @include maxw($sm) {
        width: 25px;
        height: 25px;
      }
    } 
  } 

  &__info-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__info-item:nth-child(1)::before {
    background-image: url('../images/contacts/phone.svg');
  }

  &__info-item:nth-child(2)::before {
    background-image: url('../images/contacts/mail.svg');
  }

  &__info-item:nth-child(3)::before {
    background-image: url('../images/contacts/planet.svg');
  }

  &__info-item:nth-child(4)::before {
    background-image: url('../images/contacts/map.svg');
  } 
}

.contacts-form {
  max-width: 770px;
  width: 100%;

  @include maxw($lg) {
    max-width: 100%;
  }

  .contacts__input {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 20px;
    color: $black21;
    font-size: 14px;
    line-height: 1.4;
    @extend %PTMono;
    outline: none;

    &::placeholder {
      color: $black21;
      font-size: 14px;
      line-height: 1.4;
      @extend %PTMono;
    } 

    &:focus::-webkit-input-placeholder {
      color: transparent
    }
    
    &:focus::-moz-placeholder {
      color: transparent
    }
    
    &:focus:-moz-placeholder {
      color: transparent
    }
    
    &:focus:-ms-input-placeholder {
      color: transparent
    }
  }

  .textarea {
    width: 100%;
    height: 175px;
    color: $black21;
    font-size: 14px;
    line-height: 1.4;
    @extend %PTMono;
    resize: none;
    margin-bottom: 20px;
    padding: 16px 20px;
    outline: none;

    &::placeholder {
      color: $black21;
      font-size: 14px;
      line-height: 1.4;
      @extend %PTMono;
    } 

    &:focus::-webkit-input-placeholder {
      color: transparent
    }
    
    &:focus::-moz-placeholder {
      color: transparent
    }
    
    &:focus:-moz-placeholder {
      color: transparent
    }
    
    &:focus:-ms-input-placeholder {
      color: transparent
    }
  }

  .contacts__btn {
    width: 270px;
    height: 55px;
    @include flexc();
    background-color: $pink;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 5px;
    position: relative;

    &:hover::before {
      animation-name: move-line2;
      animation-duration: 0.3s;
    }
  }
}